# dependencies
node_modules/

# env files
.env

# logs
npm-debug.log*

# build files
dist/
build/

# system files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Uploads
backend/uploads/